.bgc-header{
  background-color: $col_bla;
}

header{
  height: $h_100px;

  .top,.bottom{
    background-color: $col_bla;
  }
  .top{
    height: calc(#{$h_100px} - #{$h-50px} - 5px);

    nav{
      @include flex(flex-end);
      ul{
        @include flex(flex-start);
        list-style: none;
        padding-top: $pad_10px;

        li{
          margin-right: 20px;
          &:first-child:before{
            @include fontAwesome("\f879");
          }
          &:nth-child(2):before{
            @include fontAwesome("\f27a");
          }
          &:nth-child(3):before{
            @include fontAwesome("\f007");
          }
          &:last-child:before{
            @include fontAwesome("\f07a");
          }
          &:first-child:before,
          &:nth-child(2):before,
          &:nth-child(3):before,
          &:last-child:before{
            margin-right: 5px;
            vertical-align: $ver_ali_mid;
            color: $col_font_awe;
          }

          a{
            text-decoration: none;
            color: $hea_top;
            vertical-align: $ver_ali_mid;
          }
        }
      }
      select{
        margin-top: $pad_10px;
      }
    }
  }
  .bottom{
    height: calc(#{$h_100px} - #{$h_50px} + 5px);
    @include flex(space-between);

    .logo{
      img{
        width: $h_100px;
      }
    }
  }

}




// header {
//   height: $altezzaHeader;
//   background-color: $colorBlack;
//   // .container{
//   //   @include container;
//   // }
//   @include container2;
//   .#{&}-top{
//     height: $altezzaHeaderTop;
//
//     nav{
//       @include flex(flex-end);
//       height: 100%;
//       ul {
//         @include flex();
//
//         li {
//           padding-right: $padding-20;
//
//           a {
//             color: $navTop;
//             &:hover {
//               color: $colorWhite;
//               text-decoration: underline;
//               a {
//
//               }
//             }
//           }
//         }
//
//       }
//     }
//
//   }
//   .#{&}-bottom {
//     height: $altezzaHeaderBottom;
//     @include flex(space-between);
//     .logo img {
//       width: 90px;
//       margin: 20px;
//     }
//   }
// }
