.bgc-header{
  background-color: $col_bla;
}

header{
  height: $h_100px;

  .top,.bottom{
    background-color: $col_bla;
  }
  .top{
    height: calc(#{$h_100px} - #{$h-50px} - 5px);
  }
  .bottom{
    height: calc(#{$h_100px} - #{$h_50px} + 5px);
  }

}















// header {
//   height: $altezzaHeader;
//   background-color: $colorBlack;
//   // .container{
//   //   @include container;
//   // }
//   @include container2;
//   .#{&}-top{
//     height: $altezzaHeaderTop;
//
//     nav{
//       @include flex(flex-end);
//       height: 100%;
//       ul {
//         @include flex();
//
//         li {
//           padding-right: $padding-20;
//
//           a {
//             color: $navTop;
//             &:hover {
//               color: $colorWhite;
//               text-decoration: underline;
//               a {
//
//               }
//             }
//           }
//         }
//
//       }
//     }
//
//   }
//   .#{&}-bottom {
//     height: $altezzaHeaderBottom;
//     @include flex(space-between);
//     .logo img {
//       width: 90px;
//       margin: 20px;
//     }
//   }
// }
