#jumbotron{
  background-image: url("https://www.painterartist.com/static/ptr/images/home/bg-painter-home.jpg");
  height: 500px;
  background-size: cover;
  background-position: center;

  .title{
    height: 300px;
    
  }
}
