#jumbotron{
  background-image: url("https://www.painterartist.com/static/ptr/images/home/bg-painter-home.jpg");
  height: 500px;
  background-size: cover;
  background-position: center;
  position: $relative;
  &::after{
    @include clearFix;
  }

  .title{

    img{
      width: 200px;
      margin-top: 40px;
    }
  }
  .autore {
    @include absolute2;
  }
}
