$h_50px: 50px;
$h_100px: 100px;
$col_bla: #101010;













// // colori
// $colorBlack: #000;
// $navTop: lightgrey;
// $colorWhite: #fff;
// $grigio: grey;
//
// //altezze e larghezza
// $altezzaHeader: 100px;
// $altezzaHeaderTop: 45px;
// $altezzaHeaderBottom: calc(#{$altezzaHeader} - #{$altezzaHeaderTop});
// $larghezzaDesktop: 1200px;
//
// //padding e margin
// $padding-10: 10px;
// $padding-20: 20px;
//
// $margin-20: 20px;
