$h_50px: 50px;
$h_100px: 100px;
$pad_10px: 10px;
$h_100pc: 100%;
$col_bla: #101010;
$hea_top: #8e9598;
$col_font_awe: #009cff;
$ver_ali_mid: middle;
$relative: relative;
$altezzaHeaderBottom: 55px;
$desktop: 1200px;














// // colori
// $colorBlack: #000;
// $navTop: lightgrey;
// $colorWhite: #fff;
// $grigio: grey;
//
// //altezze e larghezza
// $altezzaHeader: 100px;
// $altezzaHeaderTop: 45px;
// $altezzaHeaderBottom: calc(#{$altezzaHeader} - #{$altezzaHeaderTop});
// $larghezzaDesktop: 1200px;
//
// //padding e margin
// $padding-10: 10px;
// $padding-20: 20px;
//
// $margin-20: 20px;
